<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Hello world!	</title>
	<atom:link href="https://nayalb.tk/2020/01/09/hello-world/feed/" rel="self" type="application/rss+xml" />
	<link>https://nayalb.tk/2020/01/09/hello-world/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Fri, 10 Jan 2020 06:51:57 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: admin				</title>
				<link>https://nayalb.tk/2020/01/09/hello-world/#comment-2</link>
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 10 Jan 2020 06:51:57 +0000</pubDate>
		<guid isPermaLink="false">https://nayalb.tk/?p=1#comment-2</guid>
					<description><![CDATA[hellow]]></description>
		<content:encoded><![CDATA[<p>hellow</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: A WordPress Commenter				</title>
				<link>https://nayalb.tk/2020/01/09/hello-world/#comment-1</link>
		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Thu, 09 Jan 2020 21:13:55 +0000</pubDate>
		<guid isPermaLink="false">https://nayalb.tk/?p=1#comment-1</guid>
					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
