<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>wordpress</title>
	<atom:link href="https://nayalb.tk/feed/" rel="self" type="application/rss+xml" />
	<link>http://nayalb.tk/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 09 Jan 2020 21:13:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Hello world!</title>
		<link>https://nayalb.tk/2020/01/09/hello-world/</link>
				<pubDate>Thu, 09 Jan 2020 21:13:55 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://nayalb.tk/?p=1</guid>
				<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
								<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>

			  <div 
			  	class = "fb-comments" 
			  	data-href = "https://nayalb.tk/2020/01/09/hello-world/"
			  	data-numposts = "10"
				data-colorscheme = "light"
				data-order-by = "social"
				data-mobile=true>
			  </div>
		  <style>
			.fb_iframe_widget_fluid_desktop iframe {
			    width: 100% !important;
			}
		  </style>
		  ]]></content:encoded>
										</item>
	</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Page is feed) 

Served from: localhost @ 2020-01-10 09:54:31 by W3 Total Cache
-->